## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [4]:
country = ['Taiwan' , 'United States' , 'Thailand' , 
           'France' , 'Germany' , 'Italy' , 
           'Japan' , 'Beigium' , 'Norway' , 
           'Canada']
# 初始化
np.random.seed()
# 產生與國家數量相同的隨機整數，數字大小介於[1,100000]
population = [np.random.randint(1,100000) for _ in range(len(country))]
data = {'國家':country , '人口數':population}

data = pd.DataFrame(data)

data

              國家    人口數
0         Taiwan   1216
1  United States  72382
2       Thailand   3219
3         France  28076
4        Germany  20401
5          Italy  68030
6          Japan  19170
7        Beigium  56354
8         Norway  42129
9         Canada  31329

**取得人口數最多以及人口數最少的國家**  

[DataDrame.idmin( )](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmin.html)  
[DataFrame.idmax( )](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmax.html#pandas.DataFrame.idxmax)

In [6]:
data_max_index = data['人口數'].idxmax()
data_min_index = data['人口數'].idxmin()

print('人口最多的國家：',data['國家'][data_max_index] ,'人口數：',data['人口數'][data_max_index])
print('人口最少的國家：',data['國家'][data_min_index] ,'人口數：',data['人口數'][data_min_index])

人口最多的國家： United States 人口數： 72382
人口最少的國家： Taiwan 人口數： 1216